html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
  min-height: 100%;
  height: 100%;
  /* needed to prevent unwanted scroll-bars */
  margin: 0;
  padding: 0;
}

#visualization,
.vis-network {
  /* Set block height using the viewport height unit, and force it to be full height, even if the containing content does not require it */
  min-height: 100%;
  height: 100%;
}

#menu {
  position: absolute;
  width: 100%;
  padding: 1em;
  z-index: 1;
}

.load-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
  visibility: hidden;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}